<!DOCTYPE html>
<html>
    <head>
        <title>FOOT FORECASTER</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="static/css/fontawesome/css/all.min.css">
    </head>
    <body>
        <!-- Add sticky menu bar -->
        <div id="menu-bar" class="sticky">
            <h1 id="menu-heading">AFCON PERFORMANCE FORECAST</h1>
            <div id="year-slider-container">
                <h2 id="slider-header">SELECT YEAR</h2>
                {{ year_slider_html|safe }} <span id="year-label"></span>
            </div>
        </div>
        <div class="chart-container">
            <div class="chart">
                <h2 id="chart-heading">TEAMS PROGRESS FORECAST</h2>
                <div id="forecast-fig"></div>
            </div>
            <div class="map">
                <h2 id="map-heading">TEAMS VICTORY FORECAST</h2>
                <div id="team-wins-fig"></div>
            </div>
        </div>
        <h2 id="table-heading">TOP TEAMS FORECAST</h2>
        <div id="top-countries-table">{{ top_countries_html|safe }}</div>
        <!-- Add back to top button -->
        <a href="" id="back-to-top" onclick="scrollToTop(event)"><i class="fas fa-arrow-up"></i></a>
        <script src="static/js/jquerry.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js" onerror="this.onerror=null;this.src='static/js/plotly/dist/plotly.min.js';"></script>
        <script src="static/js/script.js"></script>
    </body>
</html>
